@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body,h1,p {
    margin: 0%;
    overflow: hidden;
    font-family: Roboto Mono, monospace;
    letter-spacing: 1px;
}

body {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    overflow: auto;

    color: whitesmoke;
}

#header {
    margin-bottom: 10vh;
}

#typings-text {
    margin-top: 40px;
}

#container {
    width: 65%;
}

#footer {
    margin-top: 20px;
}

#button {
    text-decoration: underline;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}

#button:hover {
    opacity: 1;
}

#button:focus {
    outline: none;
}